* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    /* user-select: none; */
}

:root {
    --linear-gradient-buttun: linear-gradient(#5865a8, #434d81);
    --section-bgcolor-switch: #f9fafc;
    
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(4deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-4deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateX(30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(30deg) rotateY(360deg);
    }

}

a {
    color: black;
}

.fs {
    width: 1170px;
    margin: auto;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-clmn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 2px 3px 0px grey;
    z-index: 999999999999;
}

#nav-head ul {
    display: flex;
    gap: 30px;
}

#nav-head ul li a {
    color: #666;
    font-size: 15px;
    font-weight: 600;
}

#nav-head.ul li a:active {
    border-bottom: 1px solid green;
    transition: 1s;
}

#nav-head ul li i {
    color: #434d81;
}

#nav-head ul li:last-child a {
    color: white;
    background: var(--linear-gradient-buttun);
    padding: 10px;
}

#nav-head ul li:last-child {
    transition: 1s;
    animation: tilt 0.8s 0s infinite ease-in-out;
}

#section-1 {
    background-image: url(Images/background12apr.webp);
    height: 100vh;
}

.bannercentercontent h1 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
}

.bannercentercontent article {
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0.3px;
}

.bannerform {
    padding: 50px;
}

.bannerform figure {
    width: 600px;
}

.bannerform figure img {
    width: 100%;
}

.bannercentercontent form {
    flex-basis: 40%;
    background-color: white;
    padding: 30px 0;
}

.bannercentercontent form h2 {
    font-size: 26px;
    text-align: center;
    padding: 20px 0;
    color: #434d81;
}

.bannercentercontent form label,
.bannercentercontent form input,
.bannercentercontent form textarea {
    width: 90%;
    margin: auto;
    line-height: 30px;
    color: #666;
}

.bannercentercontent form input,
.bannercentercontent form textarea {
    margin-bottom: 10px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.bannercentercontent form input:focus,
.bannercentercontent form textarea:focus {
    outline: 1px solid rgb(121, 121, 216);
}

form label {
    font-size: 17px;
    font-weight: 500;
}

form textarea {
    height: 100px;
}

form button {
    padding: 15px 40px;
    margin: auto;
    background: var(--linear-gradient-buttun);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
}

#section-2 {
    background-color: var(--section-bgcolor-switch);
    padding: 50px 0;
}

.box {
    flex-basis: 30%;
    height: 250px;
    margin: 1.5%;
    background-color: white;
    text-align: center;
    padding: 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.box:hover {
    box-shadow: 0 0 10px 0.1px rgb(226, 226, 226);
}

.box figure {
    margin-bottom: 20px;
}

.box figure i {
    padding: 15px;
    background-color: wheat;
    border-radius: 50%;
    font-size: 40px;
}

.box b {
    font-size: 36px;
}

.box article {
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    line-height: 30px;
}

.box figure .fa-suitcase-medical {
    color: #6758f3;
    background-color: #f0eefe;
}

.box figure .fa-face-smile-beam {
    color: green;
    background-color: #ebf7ec;
}

.box figure .fa-thumbs-up {
    color: blue;
    background-color: #f0eefe;
}

.box article {
    color: #666;
}

#section-3 {
    padding: 50px 0;
}

.section3content {
    flex-basis: 60%;
    line-height: 40px;
}

.section3content h3 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 10px;
    font-weight: 600;
}

.section3content article {
    font-size: 15px;
    font-weight: 400;
    color: #666;
}

.Dermatologiestphoto {
    flex-basis: 30%;
    text-align: center;
    line-height: 30px;
    padding: 15px;
    background-color: #f9fafc;
}

.para {
    line-height: 20px;
}

.Dermatologiestphoto figure img {
    width: 100%;
}

#section-4 {
    padding: 50px 0;
}

#section-4 h2 {
    text-align: center;
    font-size: 50px;
}

.decorerotate {
    width: 150px;
    padding: 15px 0;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #6758f3;
}

.rotatinganimation figure {
    animation: rotate 3s 0s infinite ease-in-out;
    transform-style: preserve-3d;
}

#nav-gallery ul {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #ccc;
    padding: 10px 0;
}
#nav-gallery ul li{
    padding: 0px 20px;
}
#nav-gallery ul li a {
    color: #6c757d;
    font-weight: 600;
    position: relative;
    padding: 0px 20px;
}
a::after{
    content: '';
    width: 100%;
    transition: 1s;
    bottom: -12px;
    left: 0;
    height: 2px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #5865a8;
}
#nav-gallery ul li a:hover::after{
    transform: scaleX(1);
}
.photosection{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.photosection figure{
    flex-basis: 30%;
    margin: 1.5%;
    overflow: hidden;
    position: relative;
}
.photosection figure span{
    position: absolute;
    z-index: 9999;
    right: 25px;
    top: -40px;
    font-size: 16px;
    transition: 0.3s;
    background-color: white;
    border-radius: 50%;
    color: var(--linear-gradient-buttun);
}
.photosection figure span i{
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    color: #2997b4;
    padding-top: 20%;
}
.photosection figure:hover span{
    transform: translateY(102px) rotate(-720deg) scale(1.2);
}
.photosection figure img{
    transition: 1s;
    width: 100%;
    position: relative;
}
.photosection figure img:hover{
    transform: scale(1.2);
}
.photosection figure::after{
    content: '';
    position: absolute;
    top: -100px;
    right: 15px;
    width: 50px;
    height: 100px;
    background: var(--linear-gradient-buttun);
    border-radius: 0 0 50px 50px;
    transition: 0.3s;
}

.photosection figure:hover::after{
   top: 0;
}
#section-5{
    padding: 50px 0;
    text-align: center;
}
.reviews{
    gap: 15px;
}
#section-5 h2{
    font-size: 36px;
}
.card
{
    flex-basis: 30%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
}
.card h3{
    font-size: 21px;
    font-weight: 600;
}
.card article p{
    margin-bottom: 20px;
}
.card i{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
}